@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
    font-family: "Inter";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared style  */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.navbar,
.menu {
    display: flex;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.bg-liner-gr {
    background: linear-gradient(to right, #f8ed36, #ed1c94, #9127eb);
}

/* main style  */
header {
    padding: 30px;
    background-color: #1A0B2E;
    border-bottom: 1px solid rgb(168, 166, 166);
}
.navbar {
    justify-content: space-between;
    align-items: center;

}

.logo h2 {
    font-size: 2.625rem;
    font-weight: 700;
    color: #ffffff;
}

.gradient {
    background: linear-gradient(to top, #f8ed36, #ed1c94, #9127eb);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.menu {
    gap: 32px;
}

.menu li a {
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
}
.primary-btn button {
    width: 135px;
    height: 44px;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;

}

.hamburger {
    display: none;
}

/* main section  */

.banner {
    background-image: url('assets/hero-bg.png');
    /* background-color: #0b021d; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 100% 100%;
    background-position: center;
    min-height: 100vh;
    padding: 80px 20px;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-image-container {
    position: relative;
}

.circle-bg {
    position: relative;
}

.bg-circle-img {
    position: absolute;
    width: 420px;
    height: 420px;
    margin-top: -329px;
    margin-left: -210px;
}

.mic-img {
    position: absolute;
    width: 150px;
    height: 220px;
    margin-top: -220px;
    margin-left: -75px;
}

.badge-new {
    position: absolute;
}


.banner-content {
    position: absolute;
    text-align: center;
    margin-top: 137px;
    margin-left: -258px;
}

.badge-new {
    width: 75px;
    font-size: 1.125rem;
    font-weight: 600;
    background-color: #00FF88;
    border-radius: 20px;
    align-items: center;
    padding: 10px 0px 7px 0px;
    margin-top: -299px;
    margin-left: 114px;
    border: none;
}
.banner-content h1 {
    font-size: 3.75rem;
    font-weight: 800;
    color: #ffffff;
}

.banner-content p {
    font-size: 1rem;
    font-weight: 400;
    margin: 8px 0px 24px;
    color: #ffffff;
}

.btn-spotify {
    width: 201px;
    height: 44px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    border-radius: 20px;
}

.btn-subscribe-outline {
    width: 147px;
    height: 44px;
    border: 1px solid green;
    background: transparent;
    color: #00FF88;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 600;
}


/* media queary*/

@media (max-width: 576px) {
    .logo h2 {
        font-size: 2rem;
        font-weight: 700;
        color: #ffffff;
    }
    .menu,
    .primary-btn button {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .banner-img img {
        margin-top: 90px;
        margin-left: 195px;
        width: 310px;
        height: 310px;
    }

    .banner {
        background-size: 150% 100%;
    }

    .bg-circle-img {
        width: 220px;
        height: 220px;
        margin-top: -216px;
        margin-left: -100px;
    }

    .mic-img {
        width: 80px;
        height: 120px;
        margin-top: -164px;
        margin-left: -30px;
    }

    .badge-new {
        width: 65px;
        font-size: 0.8rem;
        font-weight: 600;
        background-color: #00FF88;
        border-radius: 20px;
        align-items: center;
        padding: 7px 0px 5px 0px;
        margin-top: -191px;
        margin-left: 81px;
        border: none;
    }

    .banner-content {
        position: absolute;
        text-align: center;
        margin-top: 41px;
        margin-left: -275px;
    }


}