@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
    font-family: "Inter";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared style  */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.navbar,
.menu,
.feature-contant,
.host-content,
.host-ul,
.footer-ul {
    display: flex;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.bg-liner-gr {
    background: linear-gradient(to right, #f8ed36, #ed1c94, #9127eb);
}

.hover {
    transition: background-color 3s ease-in-out, color 3s ease-in-out;
}

.hover:hover {
    background-color: #ed1c94;
    transform: scale(1.2);
}

.font {
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
}

.small-font {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
}

/* main style  */
header {
    padding: 30px;
    background-color: #1A0B2E;
    border-bottom: 1px solid rgb(168, 166, 166);
}
.navbar {
    justify-content: space-between;
    align-items: center;

}

.logo h2 {
    font-size: 2.625rem;
    font-weight: 700;
    color: #ffffff;
}

.gradient {
    background: linear-gradient(to top, #f8ed36, #ed1c94, #9127eb);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.menu {
    gap: 32px;
}

.menu li a {
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
}
.primary-btn button {
    width: 135px;
    height: 44px;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;

}

.hamburger {
    display: none;
}

/* main section  */

/* banner section start  */

.banner {
    background-image: url('assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    min-height: 100vh;
    padding: 80px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}




.hero-image-container {
    position: relative;
}

.circle-bg {
    position: relative;
    transition: transform 0.3s ease-in-out;
  
}

.circle-bg:hover {
    transform: scale(1.04);
}

.bg-circle-img {
    position: absolute;
    width: 420px;
    height: 420px;
    margin-top: -329px;
    margin-left: -210px;
}

.mic-img {
    position: absolute;
    width: 150px;
    height: 220px;
    margin-top: -220px;
    margin-left: -75px;
}

.badge-new {
    position: absolute;
}


.banner-content {
    position: absolute;
    text-align: center;
    margin-top: 137px;
    margin-left: -258px;
}

.badge-new {
    width: 75px;
    font-size: 1.125rem;
    font-weight: 600;
    background-color: #00FF88;
    border-radius: 20px;
    align-items: center;
    padding: 10px 0px 7px 0px;
    margin-top: -299px;
    margin-left: 114px;
    border: none;
}
.banner-content h1 {
    font-size: 3.75rem;
    font-weight: 800;
    color: #ffffff;
}

.banner-content p {
    font-size: 1rem;
    font-weight: 400;
    margin: 8px 0px 24px;
    color: #ffffff;
}

.btn-spotify {
    width: 201px;
    height: 44px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    border-radius: 20px;
}

.btn-subscribe-outline {
    width: 147px;
    height: 44px;
    border: 1px solid green;
    background: transparent;
    color: #00FF88;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 600;
}
/* banner section end  */

/* about section start  */

.about {
    padding: 0px 0px 120px;
    text-align: center;
    background-color: #1A0B2E;
}


.about-content {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.about-box h2 {
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
}

.up-mr {
    margin: 16px 0px 24px;
}

.hr-mr {
    margin: 80px 0px 80px;
    width: 100%;
    border: none;
    height: 2px;
    background-color: #27173b;
}

.about-boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}

/* chooes section start  */

.chooes {
    padding: 120px 0px;
    background-color: #230E3D;
}

.center {
    text-align: center;
    margin-bottom: 40px;
}

.choose-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.choose-content-box {
    background-color: #351165;
    margin: 10px 10px;
    border-radius: 40px;
    transition: transform 0.3s ease-in-out;
}
.choose-content-box:hover {
    transform: scale(1.04);
}

.choose-content-box h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    margin: 16px 0px;
}

.sh-box-1 {
    grid-column: span 1;
    grid-row: span 2;
    padding: 150px 40px;
    align-items: center;
}

.sh-box-2 {
    grid-column: span 2;
    grid-row: span 1;
    padding: 40px;
}

.sh-box-3 {
    grid-column: span 2;
    grid-row: span 1;
    padding: 40px;
}

.sh-box-4 {
    grid-column: span 2;
    grid-row: span 2;
    padding: 40px;
}

.sh-box-5 {
    padding: 40px;
}
/* chooes section end  */


/* feature section start */

.feature {
    padding: 120px 0px;
    background-color: #1A0B2E;
}

.feature-contant {
    justify-content: space-between;
    gap: 30px;
}

.feature-box {
    background-color: #351165;
    border-radius: 24px 24px 24px 24px;
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
    transition: transform 0.4s ease;
}

.feature-box:hover {
    transform: scale(1.2);
}

iframe {
    border-radius: 24px 24px 0px 0px;
}

.font-24 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
}

.time {
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
    color: #00FF88;
}


.feature-box > *:not(iframe) {
    margin-left: 24px;
}

.feature-box h3 {
    margin-top: 24px;
}

.feature-box p {
    margin: 12px 12px 12px 24px;
}

.feature-box span {
    display: inline-block;
    margin-bottom: 24px;
}


/* feature section end */

/* host section start  */
.host {
    background-color: #1A0B2E;
    padding-bottom: 120px;

}

.host-content {
    justify-content: center;
    gap: 24px;
    background-color: #351165;
    padding: 40px;
    border-radius: 40px;
    transition: transform 0.4s ease-in-out;
}

.host-content:hover{
        transform: scale(1.07);
}



.host-ul {
    justify-content: start;
    gap: 8px;

}
.host-ul li {
    border: 1px solid #533C72;
    padding: 10px 10px 5px;
    align-items: center;
    border-radius: 20px;
}


.host-h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
}

.host-info p {
    margin: 16px 0px;
}

/* host section end  */

footer {
    background-image: url(assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 120px 0;
}



.footer-content {
    text-align: center;
}

.footer-img img {}

.footer-ul {
    margin: 32px 0px;
}

.footer-ul {
    justify-content: center;
    gap: 40px;
}

.footer-ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.regular {
    font-size: 1rem;
    font-weight: 400px;
    color: #ffffff;
}



/* media queary*/

@media (max-width: 576px) {
    .logo h2 {
        font-size: 2rem;
        font-weight: 700;
        color: #ffffff;
    }
    .menu,
    .primary-btn button {
        display: none;
    }

    .hamburger {
        display: block;
    }



    .banner-img img {
        margin-top: 90px;
        margin-left: 195px;
        width: 310px;
        height: 310px;
    }

    .banner {
        min-height: 70vh;
        background-size: 177% 127%;
    }

    .bg-circle-img {
        width: 220px;
        height: 220px;
        margin-top: -203px;
        margin-left: -110px;
    }

    .mic-img {
        width: 80px;
        height: 120px;
        margin-top: -153px;
        margin-left: -42px;
    }

    .badge-new {
        width: 65px;
        font-size: 0.8rem;
        font-weight: 600;
        background-color: #00FF88;
        border-radius: 20px;
        align-items: center;
        padding: 7px 0px 5px 0px;
        margin-top: -183px;
        margin-left: 67px;
        border: none;
    }

    .banner-content {
        position: absolute;
        text-align: center;
        margin-top: 41px;
        max-width: 400px;
        width: 100%;
        margin-left: -194px;
    }

    .banner-content h1 {
        font-size: 2.5rem;
        font-weight: 800;
        color: #ffffff;
    }

    .banner-content p {
        font-size: 1rem;
        font-weight: 400;
        margin: 8px 0px 24px;
        color: #ffffff;
    }

    .btn-spotify {
        width: 150px;
        height: 40px;
        border: none;
        font-size: 0.8rem;
        font-weight: 600;
        color: #ffffff;
        border-radius: 20px;
    }

    .btn-subscribe-outline {
        width: 110px;
        height: 40px;
        border: 1px solid green;
        background: transparent;
        color: #00FF88;
        border-radius: 20px;
        font-size: 0.8rem;
        font-weight: 600;
    }



    /* about section start */

    .about {
        padding: 0px 0px 60px;
    }
    .font {
        font-size: 2rem;

    }

    .hr-mr {
        margin: 40px auto;
        max-width: 491px;
    }
    .about-content {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
    }

    .about-box h2 {
        font-size: 2.5rem;
    }

    .about-boxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0px;
        row-gap: 40px;
        max-width: 500px;
        margin: 0 auto;
    }

    /* about section end */

    /* choose section start */

    .chooes {
        padding: 50px 0px;
    }

    .center {
        margin-bottom: 20px;
    }

    .choose-content {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .choose-content-box h3 {
        font-size: 1.375rem;
    }

    .choose-content-box {
        padding: 40px 30px;
        margin: 10px 30px;
    }

    /* choose section end */


    /* feature section start  */


    .feature {
        padding: 40px 0px;
    }
    .feature-contant {
        justify-content: space-between;
        gap: 30px;
    }

    .feature-box {
        background-color: #351165;
        border-radius: 24px 24px 24px 24px;
        width: 90%;
        margin: 0px auto;
    }
    .feature-contant {
        flex-direction: column;
    }

    .font-24 {
        font-size: 1.25rem;
    }

    .feature-box > *:not(iframe) {
        margin-left: 16px;
    }

    .feature-ul li {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    /* feature section end  */

    /* host section start  */

    .host {
        padding-bottom: 40px;
    }
    .host-content {
        flex-direction: column;
        align-items: center;
        max-width: 520px;
        width: 90%;
        margin: 0 auto;
    }
    .host-info {
        text-align: center;
    }

    .host-ul {
        justify-content: center;
    }




    /* host section end  */

    /* footer section start  */

    footer {
        background-image: url(assets/footer-bg.png);
        background-repeat: no-repeat;
        background-size: 150% 100%;
        background-position: center;
        padding: 120px;
    }

    .footer-img img {
        width: 219px;
        height: 32px;
    }

    .footer-ul {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 355px;
        width: 100%;
        margin: 30px auto;
        height: 64px;
        gap: 20px;
    }

    footer {
        padding: 40px;
    }


    /* footer section end  */

}

@media screen and (min-width:992px) and (max-width:1200px) {
    .about-boxes {
        margin: 0px 30px;
    }

    .hr-mr {
        max-width: 940px;
        margin: 80px auto;
    }

    .choose-content {
        margin: 0px 30px;
    }

    .feature-contant {
        margin: 0px 30px;
    }

    .host-content {
        margin: 0px 30px;
    }
}